<div class="login-container">
  <div>
    <img ngSrc="assets/logo.png" height="200" width="200" alt="" class="img">
  </div>
  <div class="login-form">
    <h2>Redefinir sua Senha</h2>
    <p>Por favor, insira seus dados.</p>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="password" formControlName="newPassword" placeholder="senha">
        <div *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.errors?.['required']"
             class="remember-reset">
          A senha é obrigatória.
        </div>
        <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']" class="remember-reset">
          A senha deve ter pelo menos 6 caracteres.
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" placeholder="Confirme sua senha">
        <div *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.errors?.['required']"
             class="remember-reset">
          A confirmação da senha é obrigatória.
        </div>
        <div *ngIf="resetForm.errors?.['mismatch']" class="remember-reset">
          As senhas não coincidem.
        </div>
      </div>
      <button type="submit" [disabled]="!resetForm.valid">Salvar</button>
    </form>
  </div>
</div>
