<div class="login-container">
  <div>
    <img ngSrc="assets/logo.png" height="150" width="150" alt="" class="img">
  </div>
  <div class="login-form">
    <h2>Faça login.</h2>
    <p>Por favor, insira seus dados.</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="email" formControlName="login" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" formControlName="password" placeholder="Password">
      </div>
      <div class="form-group remember-reset">
        <a href="/reset-password" class="reset-password">Redefinir senha</a>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
    </form>
  </div>
</div>
